<div class="show-heading">
  
<h4><storong>Title: </strong><%= @book.title %> </h4>
<h4><storng>Body: </strong><%= @book.body %> </h4>

</div>

<%= link_to("Edit",edit_book_path(@book)) %> 
|
<%= link_to("Back",books_path) %>