// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  padding: 0 ;
  margin: 0 ;
  box-sizing: border-box ;
}
body{
  margin: 10px 33px 33px 33px ;
  font-size: 13px ;
  line-height: 18px;
  width: 100% ;
}

table{
  display: table ;
  margin: 20px 0 ;
  text-indent: initial ;
  border-spacing: 2px ;
}

th{
  text-align: center ;
  font-weight: bold;
  font-size: 14px ;
}

td{
  display: table-cell ;
  text-align: left ;
  padding: 0px 7px 5px 5px ;
}
.box{
  text-align: left ;
  display: block ;
}
.box-title{
  padding-left: 0 ;
}
.submit-box{
  margin-top: 10px ;
}
.show-heading{
  display: block ;
  margin: 20px ;
}

.show-heading h4{
  margin-bottom: 30px ;
}
.edit-box{
  display: block ;
  text-align: left ;
  margin-top: 20px ;
}
.edit-box p{
  padding: 0px ;
}
.edit-box1{
 margin-bottom: 10px ;
 padding: 0 ;
}

.edit-box2{
  margin-bottom: 10px ;
  font-size: 30px
}